USE [Shuler_Willie]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[StudentId] [int] NOT NULL,
	[TypeOpponentId] [int] NULL,
	[ProgramId] [int] NULL,
	[Сomment] [nvarchar](255) NULL,
	[Date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PredominantHand]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PredominantHand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_PredominantHand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[ProgramsId] [int] NOT NULL,
	[PunchesId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramsName]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramsName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProgramsName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Punches]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Punches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[FIO] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[CardNumber] [nvarchar](255) NULL,
	[Height] [float] NULL,
	[PredominantHandId] [int] NOT NULL,
	[GenderId] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOpponent]    Script Date: 21.01.2025 17:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOpponent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypeOpponent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'муж')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'жен')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
INSERT [dbo].[History] ([StudentId], [TypeOpponentId], [ProgramId], [Сomment], [Date]) VALUES (1, 1, 1, N'Отлично', CAST(N'2025-01-21T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PredominantHand] ON 

INSERT [dbo].[PredominantHand] ([Id], [Name]) VALUES (1, N'Правша')
INSERT [dbo].[PredominantHand] ([Id], [Name]) VALUES (2, N'Левша')
SET IDENTITY_INSERT [dbo].[PredominantHand] OFF
GO
INSERT [dbo].[Programs] ([ProgramsId], [PunchesId]) VALUES (1, 2)
INSERT [dbo].[Programs] ([ProgramsId], [PunchesId]) VALUES (1, 3)
INSERT [dbo].[Programs] ([ProgramsId], [PunchesId]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[ProgramsName] ON 

INSERT [dbo].[ProgramsName] ([Id], [Name]) VALUES (1, N'Высокому против высокого')
INSERT [dbo].[ProgramsName] ([Id], [Name]) VALUES (2, N'Правше против левши')
INSERT [dbo].[ProgramsName] ([Id], [Name]) VALUES (3, N'Оба среднего роста')
SET IDENTITY_INSERT [dbo].[ProgramsName] OFF
GO
SET IDENTITY_INSERT [dbo].[Punches] ON 

INSERT [dbo].[Punches] ([Id], [Description]) VALUES (1, N'любой удар левой рукой в голову, кроме апперкота;')
INSERT [dbo].[Punches] ([Id], [Description]) VALUES (2, N'любой удар правой рукой в голову, кроме апперкота;')
INSERT [dbo].[Punches] ([Id], [Description]) VALUES (3, N'апперкот левой рукой;')
SET IDENTITY_INSERT [dbo].[Punches] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Date], [FIO], [Phone], [Email], [CardNumber], [Height], [PredominantHandId], [GenderId]) VALUES (1, CAST(N'2024-01-20T00:00:00.000' AS DateTime), N'Иванов Иван Иванович', N'+7-999-999-99-99', N'ivan77@gmail.com', N'VI-BT-193-12-13', 185, 1, 1)
INSERT [dbo].[Student] ([Id], [Date], [FIO], [Phone], [Email], [CardNumber], [Height], [PredominantHandId], [GenderId]) VALUES (2, CAST(N'2024-01-21T00:00:00.000' AS DateTime), N'Петров Петр Петрович', N'+8-888-888-88-88', N'petrov33@gmail.com', N'XVY-GY-231-11-23', 178, 2, 1)
INSERT [dbo].[Student] ([Id], [Date], [FIO], [Phone], [Email], [CardNumber], [Height], [PredominantHandId], [GenderId]) VALUES (3, CAST(N'2024-01-22T00:00:00.000' AS DateTime), N'Сидоров Сидор Сидорович', N'+7-777-777-77-77', N'Sidorov11@gmail.com', N'VT-AX-232-12-21', 160, 1, 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOpponent] ON 

INSERT [dbo].[TypeOpponent] ([Id], [Name]) VALUES (1, N'высокий правша')
INSERT [dbo].[TypeOpponent] ([Id], [Name]) VALUES (2, N'высокий левша')
INSERT [dbo].[TypeOpponent] ([Id], [Name]) VALUES (3, N'низкий правша')
SET IDENTITY_INSERT [dbo].[TypeOpponent] OFF
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_ProgramsName] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[ProgramsName] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_ProgramsName]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Student]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_TypeOpponent] FOREIGN KEY([TypeOpponentId])
REFERENCES [dbo].[TypeOpponent] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_TypeOpponent]
GO
ALTER TABLE [dbo].[Programs]  WITH CHECK ADD  CONSTRAINT [FK_Programs_ProgramsName] FOREIGN KEY([ProgramsId])
REFERENCES [dbo].[ProgramsName] ([Id])
GO
ALTER TABLE [dbo].[Programs] CHECK CONSTRAINT [FK_Programs_ProgramsName]
GO
ALTER TABLE [dbo].[Programs]  WITH CHECK ADD  CONSTRAINT [FK_Programs_Punches] FOREIGN KEY([PunchesId])
REFERENCES [dbo].[Punches] ([Id])
GO
ALTER TABLE [dbo].[Programs] CHECK CONSTRAINT [FK_Programs_Punches]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Gender]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_PredominantHand] FOREIGN KEY([PredominantHandId])
REFERENCES [dbo].[PredominantHand] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_PredominantHand]
GO
