USE [Shuler_MasterPol]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 14.01.2025 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[ID] [int] NULL,
	[Type of material] [nvarchar](255) NULL,
	[Percentage of defective material] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products]    Script Date: 14.01.2025 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products](
	[ID] [int] NOT NULL,
	[Products_ID] [int] NULL,
	[Partners_name_ID] [int] NULL,
	[Number of products] [float] NULL,
	[Date of sale] [datetime] NULL,
 CONSTRAINT [PK_Partner_products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 14.01.2025 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] NOT NULL,
	[PartnerType_ID] [int] NULL,
	[Partners name] [nvarchar](255) NULL,
	[Director] [nvarchar](255) NULL,
	[Partners email address] [nvarchar](255) NULL,
	[Partners phone number] [float] NULL,
	[Address] [nvarchar](255) NULL,
	[INN] [float] NULL,
	[Rating] [float] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerType]    Script Date: 14.01.2025 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerType](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_PartnerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 14.01.2025 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[ID] [int] NOT NULL,
	[Product Type] [nvarchar](255) NULL,
	[Product type coefficient] [float] NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14.01.2025 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[Product Type_ID] [int] NULL,
	[Product Name] [nvarchar](255) NULL,
	[Article number] [float] NULL,
	[Minimum cost for a partner] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material_type] ([ID], [Type of material], [Percentage of defective material]) VALUES (1, N'Тип материала 1', 0.1)
INSERT [dbo].[Material_type] ([ID], [Type of material], [Percentage of defective material]) VALUES (2, N'Тип материала 2', 0.95)
INSERT [dbo].[Material_type] ([ID], [Type of material], [Percentage of defective material]) VALUES (3, N'Тип материала 3', 0.27999999999999997)
GO
INSERT [dbo].[Partner_products] ([ID], [Products_ID], [Partners_name_ID], [Number of products], [Date of sale]) VALUES (1, 1, 1, 15500, CAST(N'2023-03-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Partner_products] ([ID], [Products_ID], [Partners_name_ID], [Number of products], [Date of sale]) VALUES (2, 3, 1, 12350, CAST(N'2023-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[Partner_products] ([ID], [Products_ID], [Partners_name_ID], [Number of products], [Date of sale]) VALUES (3, 4, 1, 37400, CAST(N'2024-06-07T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Partners] ([ID], [PartnerType_ID], [Partners name], [Director], [Partners email address], [Partners phone number], [Address], [INN], [Rating]) VALUES (1, 1, N'База Строитель', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', 74931234567, N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', 2222455179, 7)
INSERT [dbo].[Partners] ([ID], [PartnerType_ID], [Partners name], [Director], [Partners email address], [Partners phone number], [Address], [INN], [Rating]) VALUES (2, 2, N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', 79871235678, N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', 3333888520, 7)
INSERT [dbo].[Partners] ([ID], [PartnerType_ID], [Partners name], [Director], [Partners email address], [Partners phone number], [Address], [INN], [Rating]) VALUES (3, 3, N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', 78122233200, N'188910, Ленинградская область, город Приморск,  ул. Парковая, 21', 4440391035, 7)
GO
INSERT [dbo].[PartnerType] ([ID], [Name]) VALUES (1, N'ЗАО')
INSERT [dbo].[PartnerType] ([ID], [Name]) VALUES (2, N'ООО')
INSERT [dbo].[PartnerType] ([ID], [Name]) VALUES (3, N'ПАО')
GO
INSERT [dbo].[Product_type] ([ID], [Product Type], [Product type coefficient]) VALUES (1, N'Ламинат', 2.35)
INSERT [dbo].[Product_type] ([ID], [Product Type], [Product type coefficient]) VALUES (2, N'Массивная доска', 5.15)
INSERT [dbo].[Product_type] ([ID], [Product Type], [Product type coefficient]) VALUES (3, N'Паркетная доска', 4.34)
GO
INSERT [dbo].[Products] ([ID], [Product Type_ID], [Product Name], [Article number], [Minimum cost for a partner]) VALUES (1, 3, N'Паркетная доска Ясень темный однополосная 14 мм', 8758385, 4456.9)
INSERT [dbo].[Products] ([ID], [Product Type_ID], [Product Name], [Article number], [Minimum cost for a partner]) VALUES (2, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, 7330.99)
INSERT [dbo].[Products] ([ID], [Product Type_ID], [Product Name], [Article number], [Minimum cost for a partner]) VALUES (3, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, 1799.33)
GO
ALTER TABLE [dbo].[Partner_products]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_Partners] FOREIGN KEY([Partners_name_ID])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[Partner_products] CHECK CONSTRAINT [FK_Partner_products_Partners]
GO
ALTER TABLE [dbo].[Partner_products]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_Products] FOREIGN KEY([Products_ID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Partner_products] CHECK CONSTRAINT [FK_Partner_products_Products]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_PartnerType] FOREIGN KEY([PartnerType_ID])
REFERENCES [dbo].[PartnerType] ([ID])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_PartnerType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([Product Type_ID])
REFERENCES [dbo].[Product_type] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
